/* =============
    Section 2
============= */
#section-2{
    aside{
        img{
            width: 100%;
        }
    }
    display: grid;
    grid-template-columns: 2% auto 2%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:". section-2 ." ;

    #section-2-content{
        @include md{
            grid-area: section-2;
        }
        

        #section-2-image{
            @include md {
                display: grid;
                grid-template-columns: 40% auto 5%;
                grid-template-areas: "section-2-image . .";
            }
            
        }
    }
}