/* =============
    Section 4
============= */
#section-4{
    img{
        width: 100%;
    }
    display: grid;
    grid-template-columns: 15px auto 15 px;
    grid-template-areas: ". section-4 .";

    ul{
        grid-area: section-4;
    }
}